.flex{
  display:flex;
  color: red;
  border:dotted;
  flex-direction:column;
  width: 70%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
h1{
  color: black;
  text-align: center;
  }
  h3{
    display: block;
    background-color: green;
  }
  table,tr,th,td{
    border: solid;
    text-align: center;

  }
th{
  text_color:blue;
}
